* {
    margin :0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
/*******************header*****************************/
.header {
    width: 100%;
    background-color: #fff;
    height: 90px;
    border-bottom: 1px solid #ebebeb;
}
.top_menu {
    display: flex;
    width: 1360px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
}

.logo{
    padding-top: 30px;
    color: #1d1f24;
    font-size: 24px;
    font-family: 'Lato';
    font-weight: bolder;
}

.logo span.logo_dot{
    font-size: 7px;
    color: #ff565c;
}

.nav_menu {
    margin-left: 60px;
    padding-top: 35px;
    display:  flex;
}



.mobile_tablet_nav_menu {
    display: none;
}

.nav_menu_block {
    margin-left: 65px;
}

.nav_menu a {
    text-transform: uppercase;
    text-align: center;
    color: #d2d2d3;
    font-family: 'Oswald';
    font-size: 14px;
}

.icon_nav_menu {
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    display: none;
}
.icon_nav_menu a {
    color: #1d1f24;
}
/***********body***************/
.container {
    width: 100%;
    background-color: #f9fafc;

    padding-bottom: 120px;
}

.content_container {
    width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.article {

}

.article_header {
    height: 460px;
    width: 1360px;
    background-image: url(img/article_header_bg.jpg);
    font-family: 'Oswald';
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.article_header_date {
    display: flex;
    margin-left: 115px;
    margin-top: 360px;
}

.article_header_date_line {
    margin: 0 15px 0 15px;
    width: 90px;
    border-bottom:  1px solid black;
}

.article_header_text {
    font-size: 82px;
    margin-left: 115px;
    margin-top: -15px;
}

.article_content {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding-bottom: 200px;
}

.article_content_links {
    display: flex;
    flex-direction: column;
    float: right;
    width: 265px;
    margin-top: 110px;
    margin-right: 35px;
    font-family: 'Oswald';
    font-size: 18px;
    color: #dadadb;
}

.article_content_links_item {
    display: flex;
    margin-top: 15px;


}

.article_content_links_text {
    flex-grow: 1;
    padding: 0 0px 15px 0px;
    border-bottom: 1px solid #ccd5e0;
    margin-left: 15px;
    
}

.article_content_links_text a {
    font-size: 18px;
    font-family:  'Lato';
    color: #1d1f24;
}

.article_content_item {
    padding-right: 100px;
    width: 655px;
    margin-left: 115px;
    margin-top: 55px;
}

.article_content_item_title {
    font-family: 'Oswald';
    font-size: 18px;
    color: #ff565c;
}

.article_content_item_block_title {
    font-family: 'Oswald';
    font-size: 18px;
    color: #1d1f24;
}

.article_content_item_text {
    margin-top: 50px;
    font-family: 'Lato';
    font-size: 18px;
    color: #616366;
}

.image_margin_text {
    font-size: 14px;
}

.article_content_item_text_color {
    
    font-size: 24px;
    color: #ff565c;
}

.article_content_item_image {
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 14px;
    color: #616366;
}

.article_content_item_image img {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

.article_content_item_image p {
    width: 300px;
    margin-left: 100px;    
}

.comments {
    width: 665px;
    margin: 0 auto;
    margin-top:  85px;

}

.comments_title{
    font-family: 'Lato';
    font-size: 24px;
}
    
.comments_title_count {
    color: #ff565c;
}

.comments_list {
    margin-top:  40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
}

.comments_list_title {
    display: flex;
}


.comments_list_title_image img {
    border-radius: 50%;
}

.add_comments_list_title_image img {
    border-radius: 50%;
}

.comments_list_title_name {
    padding-top: 5px;
    margin-left: 15px;
    font-family: 'Oswald';
    font-size: 14px;
    text-transform: uppercase;
}

.comments_list_title_date {
    display: flex;
    margin-left: 30px;
    padding-top: 8px;
    font-size: 14px;
    color: #a1a2a6;
}

.comments_list_title_date_text {
    margin-left: 10px;

}

.comments_list_message {
    margin-left: 60px;
    font-family: 'Lato';
    font-size: 16px;
    color: #5f6165;
}

.comments_list_reply {
    display: flex;  
    margin-top: 30px;  
}

.comments_list_reply_icon {
    margin-left: 60px;
}

.comments_list_reply_link {
    margin-left: 10px;
    margin-top: -4px;
}

.comments_list_reply_link a{
    font-family: 'Oswald';
    font-size: 14px;
    text-transform: uppercase;
    color: #b7b8bb;
}

.comments_list_reply_message {
    margin-left: 60px;
    margin-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
}

.add_comment {
    margin-top: 50px;
    width: 665px;
    height: 200px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

}

.add_comment_title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Oswald';
    font-size: 14px;
    color: #2c2e33;
    text-transform: uppercase;
}

.add_comment_body {
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
}

.comments_list_form {
    margin-left: 20px;

}

.comments_list_form form{
    display: flex;
    flex-direction: column;
}

.comments_list_form form textarea {
    width: 485px;
    height: 50px;
    padding: 15px;
    font-family: 'Lato';
    font-size: 16px;
    color: #a5a5a7;
    resize: none;
    border: 1px solid #e9e9e9;
}

.comments_list_form form input[type='button'] {
    width: 35px;
    margin-top: 5px;
    margin-left: auto;
    border: none;
    padding: 0;
    font-family: 'Oswald';
    font-size: 14px;
    color: #ff565c;
    background-color: #fff;
    cursor: pointer;
}

.related_articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 115px;
}

.related_articles a {
    color: black;
}

.related_articles_title {
    font-family: 'Oswald';
    font-size: 42px;
    color: #1d1f24;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.related_articles_container {
    display: flex;
    margin: 50px auto 0 auto;    
}

.related_articles_item_container {
    width: 430px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.related_articles_item_container:first-child {
    margin-left: 0;
}


.related_articles_container_image {
    width: 430px;
    height: 400px;
    background-image: url(img/related_image_1.jpg);
}
.related_articles_container_image_2 {
    width: 430px;
    height: 400px;
    background-image: url(img/related_image_2.jpg);
}

.related_articles_container_image_3 {
    width: 430px;
    height: 400px;
    background-image: url(img/related_image_3.jpg);
}

.related_articles_container_category {
    margin-top: -50px;
    margin-left: -5px;
}

.related_articles_container_category a {
    font-family: 'Oswald';
    font-size: 14px;
    color: #fff;
    background-color: #ff565c;
    padding: 10px 25px 15px 25px;
    text-transform: uppercase;
}


.related_articles_container_title {
    margin-top: 50px;
}

.related_articles_container_title a {
    font-family: 'Lato';
    font-size: 26px;
    color: #1d1f24;
}

.related_articles_container_short_text {
    font-family: 'Lato';
    font-size: 18px;
    color: #616366;
}

.footer {
    width: 100%;
    background-color: #1d1f24;
    height: 160px;
}

.footer_container {
    display: flex;
    flex-wrap: nowrap;
    width: 1360px;
    margin: 0 auto;
    padding: 0 40px 0 40px;
}

.footer_description {
    font-family: 'Lato';
    font-size: 14px;
    color: #919295;
}

.footer_logo{
    padding-top: 45px;
    color: #494b4f;
    font-size: 24px;
    font-family: 'Lato';
    font-weight: bolder;
}

.footer_logo .logo_dot {
    font-size: 7px;
    color: #ff565c;    
}     
    

.footer_navigation {
    margin-top: 35px;
    margin-left: 80px;
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    height: 80px;
}

.link_block {
    margin-top: 15px;
}

.footer_navigation a {
    font-size: 14px;
    font-family: 'Oswald';
    color: #fff;
    letter-spacing: 1px;
}


.footer_contact_form {
    font-family: 'Lato';
    font-size: 14px;
    color: #7c7d80;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.footer_contact_links {
    display: flex;
    justify-content: flex-end;
}

.footer_contact_links a {
    margin-left: 20px;
}

.footer_subscribe {
    margin-top: 15px;
}

.footer_subscribe form{
    display: flex;
}

#footer_email_form{
    width: 150px;
    height: 15px;
    border: none;
    padding: 10px 15px 10px 15px;
    font-family: 'Lato';
    font-size: 12px;
    color: #c9c9cb;
}

#footer_email_submit_button {
    padding: 0;
    border: none;
    font-family: 'Oswald';
    font-size: 12px;
    color: #fff;    
    width: 120px;
    height: 35px;
    background-color: #ff565c;
    margin-left: -3px;
}





@media screen and (max-width: 1359px) {
    .nav_menu{
        display: none;
    }
    .top_menu {
        display: flex;
        width: 725px;

        margin: 0;
        padding: 0;
        margin: 0 auto;
    }

    .icon_nav_menu {
        padding-top: 30px;
        font-size: 20px;
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;

    }
    
    .icon_nav_menu a {
        display: block;
    }
    
    .content_container {
        width: 725px;   
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .article {
        width: 100%;
    }
    
    .article_content_links {
        display: none;
    }
    
    .article_header {
        width: auto;
        height: 365px;
    }
    
    .article_header_date{
        margin-top: 310px;
    }
    
    .article_header_text {
        margin-top: 10px;
        font-size: 57px;
        width: 480px;
        line-height: 1;
    }
    
    .article_content_item {
        width: 480px;
    }
    
    .article_content_item:first-child {
        margin-top: 100px;
    }
    
    .article_content_item_text img[src='img/article_image_1.jpg'] {
        width: 725px;
        height: 560px;
        margin: 0;

    }
    
    .image_margin {
        margin-left: -115px;
    }
    
    .image_margin_text {
        margin-left:  35px;
        
    }
    
    .article_content_item_image img {
        width: 725px;
    }
    
    .article_content_item_image p {
        width: 480px;
        margin-left: 115px;
    }
    
    .article_content {
        padding-bottom: 130px;
    }
    
    .comments {
        width: 600px;
    }
    
    .add_comment {
        width: 600px;
    }
    
    .comments_list_form form textarea {
        width: 420px;
    }
    
    .related_articles_item_container {
        width: 355px;
        margin-left: 15px;
    }
    
    .related_articles_item_container:last-child {
        display: none;
    }
    
    .related_articles_container_image, .related_articles_container_image_2, .related_articles_container_image_3 {
        width: 355px;
    }
    
    
    .footer {
        height: 265px;
    }
    .footer_container{
        width: 725px;
        padding: 0;
        flex-wrap: wrap;
    }
    .footer_navigation {
        display: flex;
        flex-grow: 1;
        flex-flow: column wrap;
        height: 120px;
        width: 425px;
    }
    .footer_contact_form{
        margin: 0;
        margin-top: 30px;
        flex-direction: row;
    }
    
    .footer_contact_links {
        margin: 0;
        margin-left: 30px;
        padding-top: 7px;
    }
    .footer_subscribe{
        margin: 0;
        padding: 0;
        order: -1;
    }
}

@media screen and (max-width: 724px) {
    .top_menu {
        display: flex;
        width: 335px;
        padding: 0;
        margin: 0 auto;
    }
    
    .content_container{
        width: 335px;
        margin: 0 auto;
        flex-direction: column;
    }
    
    .article_header {
        height: 215px;
    }
    
    .article_header_date {
        margin-top: 170px;
        margin-left: 20px;
    }
    
    .article_header_text {
        font-size: 38px;
        width: 315px;
        margin-left: 0;
        padding-left: 20px;
    }
    
    .article_content_item:first-child {
        margin-top: 70px;
    }
    
    .article_content_item {
        margin-left: 20px;
        width: 300px;
        padding-right: 20px;
    }
    
    .image_margin {
        margin: 0;
        margin-left: -20px;
    }
    
    .image_margin_text {
        margin-left: 20px;    
    }
    
    .article_content_item_text img[src="img/article_image_1.jpg"] {
        width: 335px;
        height: 280px;
    }
    
    .article_content_item_image {
        display: none;
    }
    
    .comments {
        width: 335px;
    }
    
    .comments_list_title {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .comments_list_title_date {
        margin-left: 60px;
        margin-top: -20px;
        padding-bottom: 10px;
    }
    
    .add_comment {
        width: 335px;
    }
    
    .add_comments_list_title_image {
        display: none;
    }
    
    .add_comment_body {
        margin: 0;
        margin-top: 25px;
    }
    
    .comments_list_form form textarea {
        width: 265px;
    }
    
    .related_articles_item_container:nth-child(2) {
        display: none;
    }
    
    .related_articles_item_container {
        width: 335px;
    }
    
    .related_articles_container_image {
        width: 335px;
    }
    
    
    
    
    
        
    .footer {
        height: 440px;   
    }
    
    .footer_container {
        padding: 0;
        width: 335px;
        flow-direction: column;
    }
    
    .footer_description {
        order: -2;
    }
    
    .footer_navigation {
        margin: 0;
        padding: 0;
        margin-top: 30px;
        height: 160px;        
    }
    
    .footer_contact_form {
        order: -1;
        flex-direction: column;
    }
    .footer_contact_links {
        margin: 0;
        padding: 0;
        margin-top: 25px;
        justify-content: flex-start;
    }
}


.screen_nav_menu {
    display: flex;
    flex-direction: column;
}

.screen_nav_menu .nav_menu_block {
    margin: 0;
}

.header_height {
    height: 200px;
}



